# Environment
.env
.env.local

# Firebase
firebase-*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
wezu_env/

# Uploads
uploads/
.gsd/
.gemini/
.agent/
# Logs
logs/
*.log

# Database
*.db
*.sqlite
*_dump.sql

# Generated API Docs
openapi.json

# IDE
.vscode/
.idea/
walkthrough.mdrequirements.txt.bak
