apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
stringData:
  SECRET_KEY: "generate-a-very-long-and-secure-key-here"
  RAZORPAY_KEY_ID: "your_razorpay_id"
  RAZORPAY_KEY_SECRET: "your_razorpay_secret"
  # Add other sensitive keys here
